* {
  margin: 0;
  padding: 0;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0;
}

a {
  text-decoration: none !important;
  color: #232323;
}

.w-0 {
  width: 0;
  white-space: nowrap;
}

.zup {
  z-index: 10000;
}

body {
  font-family: "Roboto", "Pretendard", sans-serif;
  font-size: 1rem;
  font-weight: 300;
  color: basiccolor;
}

#hd {
  border-bottom: 1px solid #232323;
  background-color: #fff;
}
@media (max-width: 990px) {
  #hd {
    border: 0;
  }
}
#hd .logo img {
  height: 35px;
  max-width: 143px;
}

@media (max-width: 990px) {
  .navi {
    padding: 2rem 0;
  }
}
@media (max-width: 990px) {
  .navi .gnb {
    padding-top: 3rem;
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #fff;
  }
}
.navi .gnb.act {
  display: flex;
}
.navi .gnb.act .bi-list::before {
  content: "\f659";
  right: 0;
}
.navi .gnb li {
  padding-right: 2rem;
}
@media (max-width: 990px) {
  .navi .gnb li {
    padding: 0;
  }
}
.navi .gnb li:last-of-type {
  padding-right: 0;
}
.navi .gnb li a {
  line-height: 100px;
  font-size: 20px;
  font-weight: 500;
  position: relative;
}
@media (max-width: 990px) {
  .navi .gnb li a {
    line-height: 3;
  }
}
.navi .gnb li a::after {
  position: absolute;
  content: "";
  background-color: #01A7A7;
  height: 3px;
  width: 0;
  left: 0;
  bottom: -12px;
  transition: 0.2s;
}
.navi .gnb li a:hover {
  color: #01A7A7;
}
.navi .gnb li a:hover::after {
  width: 100%;
}

.btn {
  border: 0;
}
.btn .bi-list {
  font-size: 1.7rem;
}
.btn span {
  padding: 0;
  font-size: 0;
}